extends layout

block content 
  head
      title Pug
      script(type='text/javascript').
          if (foo) bar(1 + 5)
  body
      .row.gy-4.gx-lg-3.mt-3 
        .col-lg-8.col-xs-12.mb-3
            .card.text-dark.shadow.p-4
                .leaflet-container#map