extends layout

block content 
    head
        title Pug
        script(type='text/javascript').
            if (foo) bar(1 + 5)
    body
        h1 Pug - node template engine
        #container.col
            
        h1 Steve Love <3
        img(src="images/steve.jpg")
