extends layout

block content 
    // Heading Row
    .row.gy-4.gx-lg-5.align-items-center.mt-5
        .col-lg-7
            h1 Steve Love <3
            img.img-fluid.rounded.mb-4.mb-sm-0(src="images/steve.jpg")

        .col-lg-5
            h1.font-weight-light Leez Go!
            p
                | Hier werden Fahrradstraßen prognostiziert!
                img.img-fluid.rounded.mb-4.mb-sm-0(src="images/Fahrradstraße.jpg")


    // Call to Action
    .card.text-white.bg-success(style='--bs-bg-opacity: .75;').my-5.py-4.text-center
        .card-body
            p.blockquote.m-0.
                "Gegenwind formt den Charakter und meine Waden!"

